.next-btn {
  position: absolute;
  right: 0px;
  bottom: 300px;
  z-index: 1;
}
.back-btn {
  position: absolute;
  left: 0px;
  bottom: 300px;
  z-index: 1;
}
.slider-container {
  position: relative;
}
